.organismsProductsTop {
  margin: 0 20px;
  &__triangleWrapper {
    opacity: 0;

    &--show {
      opacity: 1;
    }
  }

  &__buttonsWrapper {
    width: 80px;
    margin-right: 10px;
    display: inline-block;
  }

  &__line {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  &__total {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: right;
    font: normal normal normal 16px/22px Open Sans;
  }

  &__categoryWrapper {
    @include mq("sm") {
      width: 30%;
      display: inline-block;
    }

    @include mq("lg") {
      width: 228px;
    }
  }

  &__buttonContainer {
    margin-bottom: 40px;

    @include mq("sm") {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__searchWrapper {
    @include mq("sm") {
      width: 44%;
      margin-right: 30px;
      display: inline-block;
    }

    @include mq("lg") {
      width: 385px;
    }
  }
}
