.moleculesNavigationsPagination {
  text-align: center;
  margin-top: 20px;

  @include mq("sm") {
    margin: 0;
  }

  @include mq("lg") {
    text-align: center;
    display: inline-block;
    width: calc(100% - 80px);
  }

  &__button {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    display: inline-block;
  }
}
