.moleculesCardsWithImage {
  border: 1px solid var(--secondary);
  border-radius: 6px;

  &__title {
    font: normal normal bold 20px/26px Roboto;
  }

  &__content {
    font: normal normal normal 16px/22px Open Sans;
    height: 44px;
    text-overflow: ellipsis;
    color: var(--secondary);
  }

  &__container {
    padding: 17px 15px 23px 17px;
  }

  &__bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__price {
    font: normal normal bold 20px/27px Open Sans;
    color: var(--primary);
    margin: 0;
  }

  &__priceUnderline {
    margin: 0;
    text-decoration: line-through;
    font: normal normal bold 14px/19px Open Sans;
  }
}
